* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #333333;
}


.main {
	width: 100%;
	height: 100%;
}


.main .center {
	width: 500px;
	height: 400px;

	background-color: #D5D5D5;	
	position: absolute;
	left: 50%;
	top: 50%;

	margin-left: -250px;
	margin-top: -200px;


}


.main .center .blog {
	background: linear-gradient(to bottom right, #663333, #3399CC); 

	width: 50%;
	height: 50%;

}

.main .center .tool {
	background: linear-gradient(to bottom left, #663333, #3399CC);
	width: 50%;
	height: 50%;
	position: relative; 
	left: 250px;
	top: -200px;

}

.main .center .goto {
	background: linear-gradient(to top right, #663333, #3399CC);
	width: 50%;
	height: 50%;
	position: relative; 
	left: 0px;
	top: -200px;

}

.main .center .etc {
	background: linear-gradient(to top left, #663333, #3399CC);
	width: 50%;
	height: 50%;
	position: relative; 
	left: 250px;
	top: -400px;


}

.main .center .etc a,
.main .center .goto a,
.main .center .tool a,
.main .center .blog a {
	text-decoration: none;
}

.center-text {
	display: block;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 50px;

	text-align: center;
	line-height: 200px;

} 
