

/*主体部分*/
.container {
	background-color: pink;
}

/*头部*/
.header {
	position: absolute;
	z-index: 2;	
	background-color: rgba(153, 153, 153, 0.5);

	width: 100%;
	height: 75px;
}

/*头部左侧标题*/
.header .header-title {
	float: left;
	color: #000;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	letter-spacing: 3px;
	opacity: 1;
	width: 37%;
}

.header .header-title span {
	color: #CCCC99;
}

/*头部右侧导航*/
.header .header-nav {
	float: right;
	width: 63%;
	height: 100%;
	margin-right: -300px;
	padding: 0;
}

.header .header-nav li {

	height: 70px;
	float: left;
	padding: 40px;
	list-style: none;
}


.header .header-nav li:hover {
	transition: all 0.4s ease-in-out 0s;

	background-color: #CCCC66;
	height: 70px;
	float: left;
	padding: 40px;
	list-style: none;
}
.header .header-nav li a {
	display: block;
	margin-top: -10px;
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	line-height: -30px;

}

/*占位*/
.into-position {
	width: 100%;
	height: 626px;

}

/*过度*/
.mid-transit blockquote span {
	display: block;
	text-align: center;
}
.mid-transit blockquote small {
	text-align: center;
}

/*中间视差部分*/
.background-img-fixed {
	position: fixed;
/*	width: 1263.33px;
	height: 626px;*/
}

/*这是底部*/
.footer {
	background-color: black;
	color: #ffffff;
}

/*背景*/

/*顶部背景脱离正常文档流*/
.background-img-top {
	position: absolute;
	z-index: 0;
}
/*遮罩文字*/
.shader-text {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100px;
	top: 302px;

	color: #ffffff;
	font-size: 50px;
	letter-spacing: 8px;
	font-family: "微软雅黑";
	text-align: center;
	text-shadow: 2px 2px 2px grey;
	font-weight: bold;
}

/*图片充满div*/
.background-img {
	width: 100%;
	height: 100%;
}


/*调整顶部背景遮罩层位置*/
.background-img-top-shader {
	position: absolute;
	z-index: 1;
	width: 1263px;
	height: 626px;
	background: url("../pic/dott.png") repeat 0px 0px;
}