body {
	background-attachment: fixed;
	background-image: url("../pic/background-fixed.jpg");
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

/*主体部分*/
.container {
	background-color: pink;
}

/*头部*/
.header {
	position: absolute;
	z-index: 2;	
	background-color: rgba(153, 153, 153, 0.5);

	width: 100%;
	height: 75px;
}

/*头部左侧标题*/
.header .header-title {
	float: left;
	color: #000;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	letter-spacing: 3px;
	opacity: 1;
	width: 37%;
}

.header .header-title span {
	color: #CCCC99;
}

/*头部右侧导航*/
.header .header-nav {
	float: right;
	width: 63%;
	height: 100%;
	margin-right: -300px;
	padding: 0;
}

.header .header-nav li {
	height: 70px;
	float: left;
	padding: 40px;
	list-style: none;
}


.header .header-nav li:hover {
	transition: all 0.4s ease-in-out 0s;

	background-color: #CCCC66;
	height: 70px;
	float: left;
	padding: 40px;
	list-style: none;
}
.header .header-nav li a {
	display: block;
	margin-top: -10px;
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	line-height: -30px;

}

/*占位*/
.into-position {
	width: 100%;
	height: 626px;

}

/*过渡*/
.mid-transit {
	background-color: #666633;
	height: 100px;
}
.mid-transit blockquote {
	width: 100%;
	height: 100%;
}
.mid-transit blockquote span {
	position: relative;
	top: 4px;
	font-size: 30px;
	display: block;
	font-family: "宋体";
	text-align: center;
	vertical-align: center;
	color: #ffffff;
}
.mid-transit blockquote small {
	display: block;
	position: relative;
	left: 80px;
	text-align: center;
	color: #CCFFFF;
}

/*文章主体*/	
.main-content {
	padding: 10px;
	background-color: #FFCC99 
;
}
.container {
	border-radius: 3px;
	background-color: #ffffff;
}



/*这是底部*/
.footer {
	width: 100%;
	height: 270px;
	background-color: #333333;
	color: #ffffff;
	font-family: "微软雅黑";
}
.footer .footer-left {
	position: relative;
	left: 100px;
	float: left;
	width: 632px;
	height: 100%;
}

.footer .footer-left .footer-title {
	width: 80%;
	text-align: center;
	font-weight: lighter;
}
.footer .footer-left .contact-way {
	float: left;
	width: 150px;
	margin: auto 8px;
} 
.footer .footer-left .contact-way .btn-group button {
	display: block; 
	margin: 0 auto;
}
.footer .footer-left .contact-way .btn-group .dropdown-menu img {
	width: 150px;
	height: 150px;
}

.footer .footer-left .footer-toup {
	width: 300px;
	margin: 0 auto;
	line-height: 170px;
	letter-spacing: 2px;
}
.footer .footer-left .footer-toup a {
	text-decoration: none;
	color: #ffffff;	
	font-size: 30px;
	font-weight: lighter;
}
.footer .footer-left .footer-toup a:hover {

	background-color: #CCCCCC; 
	transition: all 0.4s ease-in-out 0s;
	color: #000;
	border-radius: 4px;
}

.footer .footer-right {
	position: relative;
	right: 150px;
	height: 100%;
	float: right;
	width: 300px;

}
.footer .footer-right .footer-right-content {
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 270px;
}

/*背景*/

/*顶部背景脱离正常文档流*/
.background-img-top {
	position: absolute;
	z-index: 0;
}
/*遮罩文字*/
.shader-text {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100px;
	top: 302px;

	color: #ffffff;
	font-size: 50px;
	letter-spacing: 8px;
	font-family: "微软雅黑";
	text-align: center;
	text-shadow: 2px 2px 2px grey;
	font-weight: bold;
}

/*图片充满div*/
.background-img {
	width: 100%;
	height: 100%;
}


/*调整顶部背景遮罩层位置*/
.background-img-top-shader {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 626px;
	background: url("../pic/dott.png") repeat 0px 0px;
}
